<h1 class='text-center mt-4'><%= @user.username %></h1>

<div class="row justify-content-md-center">
  <div class="col-sm-2 mt-4">
    <form class="md-form">
      <div class="file-field">
        <div class="mb-4">
          <img src="https://mdbootstrap.com/img/Photos/Others/placeholder-avatar.jpg"
            class="z-depth-1-half avatar-pic rounded mx-auto d-block" alt="example placeholder avatar">
        </div>
        <div class="btn btn-rounded purple-gradient btn-sm">
            <input type="file"><br>
        </div>
      </div>
    </form>
  </div>
</div>