@import "bootstrap";

#gravatar {
  padding-top: 20px;
}

.navbar {
  background-color: black !important; 
}

.nav-link {
  color: white !important;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#home-container {
  margin-top: 25px;
}

.jumbotron {
  background-image: asset-url('jumbo_back_image.webp');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
}

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
  background-color: #EDFBFF;
}

#sticky-footer {
  flex-shrink: none;
}

.form-control:focus {
  box-shadow: none;
}

.form-control-underlined {
  border-width: 0;
  border-bottom-width: 1px;
  border-radius: 0;
  padding-left: 0;
}
